.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 40%;
    color: white;
}
.content-container__blog{ 
    img {
        max-width: 100%;
        max-height: 100%;
        min-width: auto;
        min-height: auto;
    }
}