.content-container {
    margin: 5px auto;
    padding: $l-size 0;
    max-width: 45%;
    color: white;
    word-wrap: break-word;
}

.content-container__blog{ 
    img {
        max-width: 100%;
        max-height: 100%;
        min-width: auto;
        min-height: auto;
    }
}

.content-container__header {
    margin: 0 auto;
    padding: $s-size 0;
    max-width: 45%;
    color: white;
}