 * {
     box-sizing: border-box;
 }
 
 html {
     font-size: 62.5%;
     background-color: $dark-grey;
     padding-bottom: 20px;
 }
 
 body {
     color: $dark-grey;
     font-family: 'Nunito',Arial, sans-serif;
     font-size: $m-size;
     line-height: 1.6;
 }

 button {
     cursor: pointer;
 }

 button:disabled {
     cursor: default;
 }

 .is-active {
     font-weight: bold;
 }

a {
    padding: 0;
}

.inlineMessage__success {
    display: inline;
    color: #5cb85c;
}